@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #769191;
  margin: 0;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  background-color: #19dcd6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.907);
}

.row {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  padding: 10px;
  font-size: 1.5rem;
  text-align: right;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #a6bba9;
}

.button {
  flex: 1;
  padding: 20px;
  margin: 5px;
  font-size: 1.25rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.button:active {
  background-color: #004494;
  transform: scale(1);
}

@media (max-width: 768px) {
  .button {
    font-size: 1rem;
    padding: 15px;
  }

  .input {
    font-size: 1.25rem;
  }
}

@media (max-width: 480px) {
  .button {
    font-size: 0.875rem;
    padding: 10px;
  }

  .input {
    font-size: 1rem;
  }
}